{% extends 'mainShop/basic.html' %}

{% block title%} About Us{% endblock %}

{% block body %}
<main role="main">
    <div class="jumbotron" style="background-color: #C9AAF7;text-align: center;">
        <div class="container">
            <h1 class="display-3">Veronicart!</h1>
            <p>Veronicart Pvt Ltd. is an Indian electronic commerce company based in Pune, India. Founded by Atharva Patwardhan and Onkar Kulkarni in 2019, the company focuses on selling products online, and aims at expanding into other product categories such as consumer electronics, fashion, and lifestyle products. Why "Veronicart"? Well, it seems dubious, but Atharva is a diehard Marvel fan. So naturally, naming his WebApp after Iron-Man's AI Assistant, doesn't sound like a bad idea!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-md-4">
                <h2>Contributors</h2><br>
                <p>Atharva Patwardhan</p>
                <p>Omkar Kulkarni</p>
            </div>
            <div class="col-md-4">
                <h2>Email Address</h2><br>
                <p>patwardhanatharva6@gmail.com</p>
                <p>onksgk@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h2>Phone Number</h2><br>
                <p>+91 8412063136</p>
                <p>+91 7620561204</p>
            </div>
        </div>
        <hr>
    </div>
</main>
{% endblock %}
