{% extends 'mainShop/basic.html' %}

{% block title%} Checkout - Veronicart{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Veronicart Checkout -- Review Your Order</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>
        </div>
    </div>
    <div class="col my-4">
        <h2>Veronicart Checkout -- Enter Delivery Details</h2>
        <form method="post" action="/shop/checkout/">{% csrf_token %}
            <input type="hidden" name="itemsJson" id="itemsJson">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="address1">Address</label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="address2">Address line 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
                </div>
                <div class="form-group col-md-2">
                    <label for="zip_code">Zip</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code">
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone">
            </div>
            <button type="submit" class="btn btn-info">Place Order</button>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        console.log(cart);
        var sum = 0;
        if ($.isEmptyObject(cart)) {
            //if object is empty
            mystr = `<p>No items for checkout! Add some items in the cart first!</p>`
            $('#items').append(mystr);
        } else {
            for (item in cart) {
                let name = cart[item][1];
                let qty = cart[item][0];
                sum = sum + qty;
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">${name}
                            <span class="badge badge-primary badge-pill">${qty}</span>
                        </li>`
                $('#items').append(mystr);
            }
        }
        document.getElementById('cart').innerHTML = sum;
        $('#itemsJson').val(JSON.stringify(cart));
        {% if thank %}
        alert('Thanks for using Veronicart! Your Order-ID is: {{id}}. You can use it to track your order using Product Tracker!');
        localStorage.clear();
        document.location = "/shop";
        {% endif %}
    </script>
{% endblock %}